

@CHARSET "UTF-8";

@font-face {
	font-family: 'regular';
	src: url("assets/fonts/DINPro-Regular.eot");
	src: url("assets/fonts/DINPro-Regular.woff") format("woff"), url("assets/fonts/DINPro-Regular.ttf") format("truetype"), url("assets/fonts/DINPro-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;}
	
@font-face {
	font-family: 'bold';
	src: url("assets/fonts/DINPro-Bold.eot");
	src: url("assets/fonts/DINPro-Bold.woff") format("woff"), url("assets/fonts/DINPro-Bold.ttf") format("truetype"), url("assets/fonts/DINPro-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;}
	
@font-face {
	font-family: 'black';
	src: url("assets/fonts/DINPro-Black.eot");
	src: url("assets/fonts/DINPro-Black.woff") format("woff"), url("assets/fonts/DINPro-Black.ttf") format("truetype"), url("assets/fonts/DINPro-Black.svg") format("svg");
	font-weight: normal;
	font-style: normal;}
	
* {box-sizing: inherit; padding: 0; margin: 0;}

body {font-family: 'regular'; font-size:1.3rem; color:#131313; font-weight:inherit; webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding: 0; margin: 0;}
body.overflow-hidden {overflow: hidden;}
html {scroll-behavior: smooth; overflow-x:hidden;}

h1, h2, h3 {font-family: 'bold'; font-weight:inherit;}
h1, h2 {letter-spacing: -0.2rem;}
h3 {letter-spacing: -0.1rem;}
h1 {font-size: 6.2rem; line-height: 1;}
h2, .h1 {font-size: 4.2rem; line-height: .9;}
h3 {font-size: 2.7rem; line-height: 1;}

li {list-style:none; display:inline-block;}
.right {text-align:right;}
.center {text-align:center;}

a {color:#082c8a; webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s; -o-transition: all .3s; -ms-transition: all .3s; text-decoration:none;}
a:hover {color:#c9c9c9;} 
a:focus, a:active {outline: none;}
a:link, a:visited, a:hover, a:active, a:focus, button {outline:0;}
p {margin-bottom: 3rem; line-height:1.5;}
p:last-child {margin-bottom:0rem;}

.img {width:100%; height:auto;}
.clear:after {content: ""; display: table; clear:both;}
.animateme {transform-origin:center center center;}


/* CONTENU */

section {display: block; position:relative;}
section p {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

.lines_background, .olines_background, .slines_background {pointer-events: none; overflow: hidden; top: 0; bottom: 0; left: 0; right: 0;}
.lines_background {position: fixed; z-index: 10; width: 100vw;}
.lines-background__line {border-right: 1px solid rgba(19,19,19,.08); z-index: 0; width: calc(99.7vw / 6); height: 100vh; position: relative; display: inline-block; overflow: hidden;}
.lines-background__blueline {border-right: 1px solid rgba(19,19,19,.15); z-index: 0; width: calc(99.7vw / 6); height: 100vh; position: relative; display: inline-block; overflow: hidden;}
.olines_background {position: absolute; width: 100%;}
.olines-background__line {border-right: 1px solid rgba(19,19,19,.08); z-index: 0; width: calc(99.7vw / 6); height: 100%; position: relative; display: inline-block; overflow: hidden;}
.slines_background {position: absolute; margin-left:50vw; width: calc(100% - 50vw); z-index:50;}
.slines-background__line {border-right: 1px solid rgba(255,255,255,.2); z-index: 0; width: calc(99.7vw / 6); height: 100%; position: relative; display: inline-block; overflow: hidden;}

.underline {z-index: 5;}
.overline {position:relative; z-index:20;}
.white {background:#fff;}
.blue {background:#082c8a;}
.grey {background:#bbfdf9;}
.sub {font-family:bold; font-size:.9rem; text-transform:uppercase;}

.menu__logo svg, footer svg {width:9.5rem; white-space: normal; fill:#131313;}
.grid {display:grid;}
.flex {display: flex; flex-wrap: nowrap;}
.bloc__50 {width:50%;}

.btn {float:right;}
.btn:hover, .btn:active, .btn:focus {color:#082c8a;}
.btn__txt {display: inline-block; -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); transition-duration: .5s;}
.btn:before {content:''; width:30px; height:2px; position:absolute; background:#082c8a; margin-left:-3rem; margin-top:.5rem; -webkit-transform-origin: center left; -ms-transform-origin: center left; transform-origin: center left; -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); transition-duration: .7s;}
.btn:hover .btn__txt {-webkit-transform:translateX(2rem); -moz-transform:translateX(2rem); -ms-transform:translateX(2rem); -o-transform:translateX(2rem); transform:translateX(2rem);}
.btn:hover::before {-webkit-transform: scaleX(2); -ms-transform: scaleX(2); transform: scaleX(2);}


/* MENU */

.header {height:9rem; width:auto; display: block; position: fixed; top:0; left:0; z-index:100;}
.menu__logo {height:100%; margin-left:9rem; text-align:center; vertical-align: top; white-space: nowrap; display:block;}
.menu__logo {padding:0 4rem; background:#fff;}
.menu__logo svg {height:100%;}
.menu__btn::before, .menu__logo::before, .menu__links::before {display: inline-block; height: 100%; content: ""; vertical-align: middle;}
.menu__links {display:inline-block; height: 9rem; float:right; right:4rem; position:absolute; top:0; z-index:30;}
.menu__links ul {display: inline-block;}
.menu__links li {margin-right:2rem;}
.menu__links li:last-child {margin-right:0;}
.menu__links a {color:#131313; position:relative;}
.menu__links a:hover {color:#082c8a;}
.menu__links li a:after {content:''; position:absolute; background:#082c8a; height:2px; width:0; bottom:-.5rem; left:0; transition: .3s;}
.menu__links li a:hover::after {width:100%;}

.menu .menu__logo {position:absolute; height:9rem; top:0; left:0; background:transparent;}
.menu .menu__logo svg {fill:#fff;}
.action {background: none; border: 0; color: #fff; cursor: pointer; padding: 0;}
.action--menu {pointer-events: auto; position: absolute; width:9rem; height:9rem; background:#082c8a; top: 0; left: 0; z-index: 90;}
.menu--open .action--menu {pointer-events: none;}
.action--close {position: absolute; width:9rem; height:9rem; top: 0; left: ; z-index: 90; opacity: 0;}
.icon--close {width: 2rem; fill:#fff;}
.icon--menu {width:2rem; height:1.5rem; margin:auto;}
.icon-menu_bar, .icon-menu_bar2, .icon-menu_bar3 {height:2px; background:#fff; display:block;}
.icon-menu_bar, .icon-menu_bar2 {width:100%; margin-bottom:calc(.75rem - 2px);}
.icon-menu_bar3 {width:50%; transition: .3s;}
.action--menu:hover .icon-menu_bar3 {width:100%;}

.menu {text-align: right; width: 100%; height: 100vh; overflow: hidden; position: fixed; top: 0; left: 0; z-index: 200; display: grid; grid-template-columns: 100%; pointer-events: none;}
.menu--open {pointer-events: auto;}
.menu__item {width: 100%; position: relative; overflow: hidden;}
.menu__item-inner {overflow: hidden; transform: translate3d(100%,0,0); height: 100%; width: 100%; position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.menu__item--bg .menu__item-inner {background: #082c8a;}
.mainmenu__link {overflow: visible; position: relative; display: block; transition: color .3s; opacity: 0;}
.mainmenu__item {font-size: 5vw; font-family:'bold'; letter-spacing: -0.2rem;}
.menu__item a {color:#c9c9c9;}

.menu__rs {bottom: 5rem; left: 5rem; font-size:1rem; position:absolute; width:auto!important; height:auto!important;}
.menu__rs ul {margin:0; padding:0;}
.menu__rs li {position: relative; display:inline-block; overflow: hidden; transition: color 0.1s; margin-right:1rem;}
.menu__rs li:last-child {margin-right:0;}
.menu__rs a {color:#fff;}
.menu__rs a:hover {color:#c9c9c9;}

.dropdown__nav {opacity:0; pointer-events:none; text-align:left; position:absolute; display:inline-block; width:100%; list-style-type: none; transition:.5s; margin-top:2.5rem;}
.mainmenu__link:hover .dropdown__nav {opacity:1; pointer-events:auto;}
.mainmenu__link:hover a {color:#fff;}
.dropdown__nav li {display:block; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); margin-bottom:.5rem;}
.dropdown__nav li a:hover {color:#c9c9c9;}
.mainmenu__link:hover .dropdown__nav li {-webkit-transform: translateX(10%); -ms-transform: translateX(10%); transform: translateX(10%);}
.dropdown__nav li:nth-child(1) {transition:.5s;}
.dropdown__nav li:nth-child(2) {transition:.6s;}
.dropdown__nav li:nth-child(3) {transition:.7s;}
.dropdown__nav li:nth-child(4) {transition:.8s;}
.dropdown__nav li:nth-child(5) {transition:.9s;}


/* BLOCS */

.background__top-left {position:absolute; width:50vw; height:calc(750px - 9rem);}
.background__top-left-2 {position:absolute; width:calc(50vw - 9rem); height:calc(600px + 9rem); margin-top:-9rem;}
.background__top-right {position:absolute; margin-left:50vw; margin-top:-9rem; width:50vw; height:600px;}
.background__bottom-left {position:absolute; width:50vw; bottom:0; margin-bottom:-9rem; height:600px;}
.background__bottom-right {position:absolute; margin-left:50vw; margin-top:9rem; width:calc(100% - 50vw); bottom:0; margin-bottom:-9rem; right:0; height:600px;}
.background__mid-col5 {position:absolute; height:calc(100% + 9rem); margin-left:16.61vw; width:calc(100% - 16.61vw); right:0; z-index:-1;}
.background__mid-col3 {position:absolute; height:calc(100% + 9rem); margin-left:50vw; width:calc(100% - 50vw); right:0; z-index:-1;}

.space__top-right {position:absolute; margin-left:calc(50vw - 9rem); width:50vw; margin-top:-16rem; height:9rem;}
.space__mid-col5 {height:9rem; margin-left:16.61vw; width:calc(100% - 16.61vw); right:0; z-index:-1;}
.space__mid-col3 {height:9rem; margin-top:9rem; margin-bottom: -9rem; margin-left:50vw; width:calc(100% - 50vw); right:0; z-index:-1;}
.space__content-page {height:9rem; width:100%;}
.space__fullpage-sommaire {position: relative; margin-left: 50vw; height: 9rem; width: calc(100% - 50vw); right: 0;}

.page__container {position:absolute; z-index:30;}
.page__container-title-wrap {width:100%;}
.b_page__container-title, .c_page__container-title {position: relative; margin-bottom:3rem; display: block; z-index:30;}
.a_page__thumb-image, .b_page__thumb-image, .c_page__thumb-image {width:100%; height:600px; background: no-repeat bottom center; -webkit-background-size: cover; background-size: cover;}
.a_page__container-content, .c_page__container-content {margin-left:calc(50vw + 9rem); width:calc(50vw - 18rem); }

.a_page__thumb {width:calc(50vw - 9rem); margin-left:9rem; overflow:hidden;}
.a_page__thumb-image {height:750px;}
.a_page__container-title {margin-top:7rem; width: calc(50vw - 9rem); margin-left: 40vw; margin-bottom:3rem;}
.a_page__thumb {width:calc(50vw - 9rem); margin-left:9rem; overflow:hidden;}

.b_page {margin:9rem 0;}
.b_page__container-title {margin-top:7rem; width:calc(66.7vw - 9rem); margin-left:9rem; margin-bottom:3rem;}
.b_page__container-content {margin:0 9rem; width:calc(50vw - 18rem); }
.b_page__thumb {width:calc(50vw - 9rem); margin-right:9rem; margin-left:50vw; overflow:hidden;}

.c_page__container-title {text-align:center; width:50vw; margin:auto; margin-bottom:3rem;}
.c_page__thumb {width:calc(50vw - 9rem); margin-left:9rem; margin-top:-8rem; overflow:hidden;}

.d_page {margin-bottom:9rem;}
.d_page__container-title {margin-left:calc(50vw - 4rem); margin-top:9rem; width: calc(50vw - 9rem); margin-bottom:3rem;}
.d_page__container-content {width:calc(50vw - 18rem); margin-left:50vw; padding:0 9rem;}
.d_page__thumb {width:calc(50vw - 9rem); margin-left:9rem; overflow:hidden;}

.e_page {margin-top:9rem;}
.e_page__container-title {margin-left: calc(50vw + 9rem); margin-top:7rem; width:calc(50vw - 18rem); margin-bottom:3rem;}
.e_page__container-content {width: calc(50vw - 18rem); margin-left: calc(50vw + 9rem);}
.e_page__thumb {width:calc(50vw - 9rem); margin-left:9rem; overflow:hidden;}

.fullpage {padding:7rem 9rem 9rem 9rem; text-align:center; color:#fff;}
.fullpage-sommaire {color:#fff; padding-bottom:9rem;}
.fullpage-sommaire p {color:#c9c9c9;}
.fullpage-bg {padding-top:16rem!important; background:#082c8a url('assets/img/layout/homepage-aera-constructeur-bg.jpeg') no-repeat left bottom; background-size:50vw;}
.fullpage .h1 {width:70vw; margin:auto; padding-bottom: 3rem;}
.fullpage h2 {padding-bottom:1rem;}
.fullpage p {width:50vw; margin:auto;}
.fullpage .btn {float:none; margin:auto; color:#fff;}
.fullpage .btn:hover, .fullpage .btn:active, .fullpage .btn:focus {color:#fff;}
.fullpage .btn:before {background:#fff;}
.fullpage-bg p {margin-bottom:3rem;}

.citation {padding:11rem 0!important;}
#citation-line-1, #citation-line-2, #citation-line-3 {margin-left: -.1rem; font-size:3.3rem; display:block; position:relative; text-align:left; color:#c9c9c9; font-family:'bold'; letter-spacing: -0.1rem;}
.citation1-wrap, .citation2-wrap, .citation3-wrap {overflow:hidden;}
.citation1-wrap {margin-left:16.6vw;}
.citation2-wrap {margin-left:33.3vw;}
.citation3-wrap {margin-left:50vw;}

/* HOMEPAGE */

.slider-home {height:100vh; width:100%;}
.slider-home__scroll {width:4rem; height:4rem; bottom:6.5rem; left:7rem; position:absolute; border: 2px solid rgba(255, 255, 255, .4); z-index:30;}
.slider-home__scroll:hover {background:#fff;}
.slider-home__scroll:hover svg {fill:#082c8a;}
.slider-home__scroll svg {width: 25px; height: auto; fill:#fff; transform:rotate(90deg); margin-left: 1.1rem;}
.slider-home__scroll:after {display: inline-block; height: 100%; content: ""; vertical-align: middle;}

@keyframes MoveUpDown {
  0%, 100% {bottom: 0;}
  50% {bottom: 4%;}
}

.slider-home__bg {position:absolute; z-index:10; width:50vw; height:100%;}
.slider-home__line {width:9rem; height:1px; background:rgba(255, 255, 255, .4); margin-top: 9rem;}

.slider-home__wrap {height:calc(100vh - 9rem); width:calc(100% - 9rem); margin-left:9rem; position:relative;}
.slider-home__title {font-size:5vw; color:#fff; font-family:'bold'; top:50%; position:absolute; transform:translateY(-50%)!important; margin-left:9rem; width:70%;}
.slider-home__overlay {width:100%; height:100%; background:rgba(19, 19, 19, 0.4); position:absolute;}
.slider-home__img {width:100%; height:100%; background: no-repeat center center; -webkit-background-size: cover; background-size: cover;}

.slider-home__btn {margin-left:50vw; width:100%; bottom:9rem; position:absolute; z-index:50;}
.slider-home__btn-txt {position:relative; z-index:2; transition: .4s;}
.slider-home__btn a {width: calc(100vw / 6); background:#082c8a; padding: 2rem 0; position:relative; color:#fff; display:inline-block; text-align:center;  -webkit-transition: all .1s; -moz-transition: all .1s; transition: all .s;}
.slider-home__btn a:after {position:absolute; content:''; background:#fff; height:0; width:100%; bottom:0; left:0; right:0; -webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s; }
.slider-home__btn a:hover {color:#1c44ae;}
.slider-home__btn a:hover:after {height:100%;}
.slider-home__btn a span {display:block;}

.slider-ancre {height:9rem; bottom:0; display:block; position:absolute;}

.realisations {grid-template-columns: 1fr 1fr 1fr; grid-gap: 3rem; margin-top:5rem; margin-bottom:9rem;}
.realisation__wrapper:nth-child(2) {margin-top:4rem;}
.realisation__wrapper:nth-child(4), .realisation__wrapper:nth-child(6), .realisation__wrapper:nth-child(7), .realisation__wrapper:nth-child(9), .realisation__wrapper:nth-child(11), .realisation__wrapper:nth-child(13), .realisation__wrapper:nth-child(15), .realisation__wrapper:nth-child(17) {margin-top:-4rem;}

.realisation__wrapper {position: relative; display:block; width:100%; height:35rem; background: #1c44ae; overflow: hidden;}
.realisation__wrapper .realisation__img, .realisation__wrapper .realisation__details {width: 100%; height: 100%; position: absolute; box-sizing: border-box;}
.realisation__wrapper .realisation__img {top: 0; left: 0; background: no-repeat center center; -webkit-background-size: cover; background-size: cover; transition: .8s;}
.realisation__wrapper:hover .realisation__img {top: 0; left: -100%;}
.realisation__wrapper .realisation__img {width: 100%;}
.realisation__wrapper .realisation__details {background: #1c44ae; text-align:left; top: 0; padding: 4rem; -webkit-transform:translateX(100%); -moz-transform:translateX(100%); -ms-transform:translateX(100%); -o-transform:translateX(100%); transform:translateX(100%); transition: .8s;}
.realisation__wrapper:hover .realisation__details {top: 0; color:#fff; -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0);}
.realisation__wrapper .realisation__details h3 {margin-bottom: 1rem; padding-top:40%;}
.realisation__wrapper .realisation__details img {width:25px; height:auto; position:absolute; bottom:4rem; right:4rem; transform: translateX(-4rem); opacity:0; transition: .4s;}
.realisation__wrapper:hover .realisation__details img {transform: translateX(0); opacity:1;}
.realisation__wrapper .realisation__details span:nth-child(3) {margin-left:1rem;}


/* HOMEPAGE - NOS VALEURS */

.nos-valeurs {height: 750px; overflow: hidden; display: grid; grid-template-columns: 50vw 50vw;}
.nos-valeurs__index {margin-left:16.61vw; margin-top:8rem; font-size: inherit; width:auto; height:75px; display: block; z-index: 50; position:absolute;}
.nos-valeurs__index-current {border:2px solid #082c8a; height:100%; display:block; position: relative; overflow: hidden;}
.nos-valeurs__index-inner {font-family:'black'; display:inline-block;}
.nos-valeurs__index-inner-bg {background: #082c8a; color:#fff;}
.nos-valeurs__index-txt {color:#082c8a;}
.nos-valeurs__index-txt, .nos-valeurs__index-inner-bg {height:100%; padding:0 2rem; display: inline-block;}
.nos-valeurs__index-txt::before, .nos-valeurs__index-inner-bg::before {display: inline-block; height: 100%; content: ''; vertical-align: middle;}
	
.nos-valeurs__nav {display: block; margin-top:calc(750px - 8rem); left:0; margin-left: calc(83.2222222vw - 4rem); position: absolute; right: 0;}
.nos-valeurs__nav-item {border: 2px solid #ececec; width: 4rem; height: 4rem; background: transparent; cursor:pointer;}
.nos-valeurs__nav-item--prev {border-right:0px; position:relative; overflow:hidden;}
.nos-valeurs__nav-item--next {border-left:0px; position:relative; overflow:hidden;}
.nos-valeurs__nav-item svg {width:25px; height:auto; fill:#082c8a;}
.nos-valeurs__nav-item--prev:after {content:''; background:#ececec; z-index: -1; top:0; right:0; width:0; height:100%; position:absolute; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
.nos-valeurs__nav-item--next:after {content:''; background:#ececec; z-index: -1; top:0; left:0; width:0; height:100%; position:absolute; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
.nos-valeurs__nav-item--prev:hover::after, .nos-valeurs__nav-item--next:hover::after {width:100%;}
	
.valeur {pointer-events: none; grid-area: 1 / 1 / 5 / 4; display: grid; grid-template-columns: 50% 50%; grid-template-rows: auto 100%; grid-template-areas: "... slide-content slide-content" "slide-image slide-content slide-content";}
.valeur--current {pointer-events: auto;}
.valeur__content {padding: 0 9rem; grid-area: slide-content;}
.valeur__title {margin-top: 7rem; margin-bottom:3rem; margin-left:-17.5rem; line-height: .9; position: relative; overflow: hidden; z-index: 40;}
.valeur__title span {display: inline-block;}
.valeur__description {overflow: hidden; position: relative;}
.valeur__description-inner {display: block;}
.valeur__img {height: auto; margin-left: 9rem; position:relative; grid-area: slide-image; z-index:20; overflow: hidden; pointer-events: none;}
.valeur__img-inner {width: 100%; height: 100%; background-size: cover; background-position: 50% 50%;}

.facts {display: none;}

.js .valeur:not(.valeur--current) .valeur__title span,
.js .valeur:not(.valeur--current) .valeur__description,
.js .valeur:not(.valeur--current) .valeur__img-inner,
.js .valeur:not(.valeur--current) .section__more-inner,
.js .valeur:not(.valeur--current) .section__more-text,
.js .valeur:not(.valeur--current) .section__more-link,
.js .valeur:not(.valeur--current) .section__facts-item {opacity: 0;}


/* ALL PAGES */

content .thumb {width:100%; height:calc(100vh - 9rem); background:no-repeat; -webkit-background-size: cover; background-position: top center; background-size: cover;}
content h2 {font-size:4rem; letter-spacing: -0.1rem;}
content h1, content h2 {margin-bottom:2rem;}

.container {padding:9rem;}
content .txtbig p, .container__txt p:first-child {font-size:2.1rem; margin-bottom:4rem; line-height: 1.4;}
content .txtbig p:last-child {margin-bottom:0rem;}
.container__txt h2 {font-size:3rem; margin-bottom:1.5rem;}

.container .contact__grid {grid-template-columns: 1fr 1fr; grid-gap: 5rem;}
.contact__form {width:100%;}
.contact__form div {z-index:10;}

.contact__form input::placeholder, .contact__form .wpcf7-form textarea::placeholder {color:#131313;}
.contact__form input, .contact__form textarea, .contact__form select {width:calc(100% - 4rem); -webkit-transition: all .4s; -moz-transition: all .4s; transition: all .4s;}
.contact__form textarea {resize:none; height:17rem; margin:5rem 0;}

.custom-select {position:relative;} 
.custom-select select {display: none;}

.select-selected {background-color: #c9c9c9; -webkit-transition: all .4s; -moz-transition: all .4s; transition: all .4s;}
.select-selected:hover, .select-selected:focus, .select-selected:active {color:#fff; background: #082c8a!important;}
.select-selected:hover:after {border-color: #fff transparent transparent transparent;}
.select-selected:after {position: absolute; content: ""; top:50%; right: 2rem; width: 0; height: 0; border: .5rem solid transparent; border-color: #131313 transparent transparent transparent; transform: translate(-50%); transition: transform .3s ease; -webkit-transition: all .4s; -moz-transition: all .4s; transition: all .4s;}
.select-selected.select-arrow-active:after {border-color: transparent transparent #fff transparent; top:43%;}
.select-selected.select-arrow-active {color:#fff; background: #082c8a!important;}

.select-items div,.select-selected {padding: 2rem;  color: #131313; font-size:2.1rem; cursor: pointer; user-select: none;}
.select-items {position: absolute; background: #1c44ae; top: 100%; left: 0; right: 0; z-index: 99;}
.select-hide {display: none;}
.select-items div:nth-child(1) {display:none;}
.select-items div {font-size:1.4rem; color:#fff; padding:1.5rem; background:#082c8a; border:0; -webkit-transition: all .4s; -moz-transition: all .4s; transition: all .4s;}
.select-items div:hover, .same-as-selected {background: #1c44ae!important;}

.contact__form input:focus, .contact__form textarea:focus {color:#fff; background:#082c8a;}
.contact__form input, .contact__form textarea {color:#131313; background:#c9c9c9; font-size:2.1rem; padding: 2rem; font-family: 'regular'; outline: none; border: 0;}

.contact__form button[type="submit"] {font-family:'bold'; text-transform:uppercase; width:30%; margin:auto; border: 0; font-size:inherit; color:#fff; background: #082c8a; cursor: pointer; padding: 3rem; display: inline-block; text-transform: uppercase; letter-spacing:.05rem; font-weight:inherit; outline: none; position: relative; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; z-index:1;}
.contact__form button[type="submit"]:after {content: ''; position: absolute; z-index: -1; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; width: 0; height: 100%; bottom: 0; left: 0; background: #c9c9c9;}
.contact__form button[type="submit"]:hover {color: #131313!important;}
.contact__form button[type="submit"]:hover:after {width: 100%!important;}

content .realisations {margin-bottom:0;}

.breadcrumb {color:#c6c6c6; margin-bottom:1rem; display:block; margin-left: .5rem;}
.breadcrumb a {color:#c6c6c6; position:relative;}
.breadcrumb a:hover {color:#082c8a;}
.breadcrumb li {margin: 0 1rem;}
.breadcrumb li:first-child {margin: 0 1rem 0 0;}
.breadcrumb li:last-child {margin: 0 0 0 1rem;}
.breadcrumb li::after {content: '>'; font-family:'regular'; margin-left: .8rem; margin-top:-.1rem; position:absolute;}
.breadcrumb li:last-child::after {content: ''; margin-left:0rem; margin-top:0rem; position:absolute;}
.breadcrumb a:after {content:''; position:absolute; background:#082c8a; height:2px; width:0; bottom:-.5rem; left:0; transition: .3s;}
.breadcrumb a:hover::after {width:100%;}


/* PAGE - SOMMAIRE */

.content-child {display:inline-block; width:83.333vw; margin-top:-9rem; overflow:hidden;}
.content-child__bloc {margin-bottom:9rem;}
.content-child__bloc h2 a {color:#131313;}
.content-child__bloc h2 a:hover,  .content-child__bloc h2 a:focus, .content-child__bloc h2 a:active {color:#131313;}
.content-child__wrapper {position:relative;}
.content-child__bg {margin-left:66.666vw; width:calc(100% - 66.666vw); height:100%; position:absolute;}
.content-child__bg-foot {position: absolute; margin-left: 50vw; width: calc(100% - 50vw); bottom: 0; margin-bottom: -9rem; right: 0; height: 18rem;}


/* PAGE - REALISATION */

.rea-container {display:inline-block; width:66.666vw; margin-top:-9rem; overflow:hidden;}
.rea-container__wrapper {padding:9rem;}

.rea-details {display:inline-block; margin-left:66.666vw; width:calc(100% - 66.666vw); height:100%; position:absolute; right:0; color:#fff;}
.rea-details__wrapper {padding: 6rem 6rem 0 6rem;}
.rea-details li {display:block; margin-bottom:2rem;}
.rea-details span {color:#c6c6c6; font-family:'bold'; margin-bottom:.4rem; display:block;}

.rea-gallery {padding:0!important;}
.rea-gallery__wrapper {width:calc(100% - 9rem); height:750px; background:#fff;}
.rea-gallery__img {width:100%; height:100%; background:no-repeat; -webkit-background-size: cover; background-position: center; background-size: cover; animation: fading 10s infinite;}

.rea-gallery__nav {margin-top:calc(-2rem + -2px); margin-right:calc(-4rem + -2px); right:0; top:0; position: absolute; z-index:20;}
.rea-gallery__nav-item {border: 2px solid #fff; width: 4rem; height: 4rem; background: transparent; cursor:pointer;}
.rea-gallery__nav-item--prev {border-right:0px; position:relative; overflow:hidden;}
.rea-gallery__nav-item--next {border-left:0px; position:relative; overflow:hidden;}
.rea-gallery__nav-item svg {width:25px; height:auto; fill:#fff;  -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
.rea-gallery__nav-item--prev:after {content:''; background:#fff; z-index: -1; top:0; right:0; width:0; height:100%; position:absolute; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
.rea-gallery__nav-item--next:after {content:''; background:#fff; z-index: -1; top:0; left:0; width:0; height:100%; position:absolute; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
.rea-gallery__nav-item--prev:hover::after, .rea-gallery__nav-item--next:hover::after {width:100%;}
.rea-gallery__nav-item--prev:hover svg, .rea-gallery__nav-item--next:hover svg {fill:#082c8a;}


/* FOOTER */

footer {line-height: 1.5;}
footer a:hover {color:#082c8a;}
footer svg {margin-bottom:2rem;}
footer li a {position: relative;}
footer li a:after {content:''; position:absolute; background:#082c8a; height:2px; width:0; bottom:-.5rem; left:0; transition: .3s;}
footer li a:hover::after {width:100%;}
footer li:last-child a::after {content:none;}
footer {font-size:1.1rem;}
.footer__copy .bloc__50 li {font-size:1rem;}
.footer__menu-links {margin-left:50vw; font-size:0;}
.footer__menu-links a {color:#131313;}
.footer__menu-links ul {padding:5rem 0; text-align:center;}
.footer__menu-links li {margin-right:2rem;}
.footer__menu-links li:last-child {margin-right:0rem;}
.footer__wrapper {margin:0 9rem; padding:5rem 0;}
.footer__copy {margin-top:2rem; font-size:0;}
.footer__copy .bloc__50:last-child {text-align:right;}
.footer__copy .bloc__50 li {margin-right:2rem;}
.footer__copy .bloc__50 li:last-child {margin-right:0rem;}
.logo-marsrouge svg {width:100px; height:auto; fill:#131313; margin-bottom:0;}


/* MODAL FORMULAIRE */

.cd-modal {position: fixed; top: 0; left: 0; width: 100%; height: 100%; visibility: hidden; opacity: 0; background-color: #082c8a !important; pointer-events: none; -webkit-transition: visibility 0s 0.01s, opacity 0.3s 0s, z-index 0s 0.3s; -moz-transition: visibility 0s 0.01s, opacity 0.3s 0s, z-index 0s 0.3s; transition: visibility 0s 0.01s, opacity 0.3s 0s, z-index 0s 0.2s;}
.cd-modal {width:100vw; overflow-y: auto!important;}
.cd-modal .cd-modal-content {height: 100%; width: 65vw; padding: 9rem 0; font-size: 2.1rem; line-height: 1.4; color: #fff; text-align: center; margin:auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.modal-is-visible .cd-modal {z-index: 9999; visibility: visible; opacity: 1; pointer-events: auto; -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s; -moz-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s; transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;}
.modal-is-visible .cd-modal .cd-modal-content {-webkit-overflow-scrolling: touch!important;}

.cd-modal-action {z-index:999;  position:fixed; bottom:2rem; right:1.5rem;} 
.cd-modal-action .cta, .cd-modal-action .cd-modal-bg {display: inline-block; height: 4em; background-color: #082c8a;}
.cd-modal-action .cta.to-circle {background: #082c8a;}
.cd-modal-action .cd-modal-bg {position: absolute; z-index: 900; left: 50%; top: 0; width: 4em; border-radius: 50%; opacity: 0; visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-2em);
  -moz-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  -o-transform: translateX(-2em);
  transform: translateX(-2em);
  -webkit-transition: visibility 0s 0.1s;
  -moz-transition: visibility 0s 0.1s;
  transition: visibility 0s 0.1s;
}

.cd-modal-action .cd-modal-bg.is-visible {opacity: 1; visibility: visible;}

.cd-modal-close { position: fixed; z-index: 9999;  bottom: 2rem; right: 1.5rem; height: 80px; width: 80px; border-radius: 50%; background:#082c8a url(assets/img/layout/modal-close.svg) no-repeat center center; overflow: hidden; text-indent: 100%; white-space: nowrap; visibility: hidden; opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal-close:hover {background-color: rgba(0, 0, 0, 0.5);}
.modal-is-visible .cd-modal-close {visibility: visible; opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.cd-modal-action .cta {width: 80px; height:80px; border-radius: 5rem; color: #ffffff; line-height: 4em; white-space: nowrap; font-weight: 700; background: #082c8a url(assets/img/layout/modal-open.svg) no-repeat center center; -webkit-font-smoothing: antialiased; animation: at-ripple .9s linear infinite;}
.cd-modal-action:hover .cta {animation: at-ripple-b  .8s linear infinite; }

@-webkit-keyframes at-ripple {
  0% {box-shadow: 0 4px 10px rgba(29, 74, 192, 0.2), 0 0 0 0px rgba(29, 74, 192, 0.2), 0 0 0 10px rgba(29, 74, 192, 0.2);}
  100% {box-shadow: 0 4px 10px rgba(29, 74, 192, 0.2), 0 0 0 10px rgba(29, 74, 192, 0.2), 0 0 0 20px rgba(29, 74, 192, 0);}
}

@-webkit-keyframes at-ripple-b {
  0% {box-shadow: 0 4px 10px rgba(29, 74, 192, 0.2), 0 0 0 0px rgba(29, 74, 192, 0.2), 0 0 0 20px rgba(29, 74, 192, 0.2);}
  100% {box-shadow: 0 4px 10px rgba(29, 74, 192, 0.2), 0 0 0 20px rgba(29, 74, 192, 0.2), 0 0 0 30px rgba(29, 74, 192, 0);}
}

.cd-modal-content h2 {color:#fff; margin-bottom:5rem;}
.cd-modal-content div {margin-bottom:4rem;}
.cd-modal-content .wpcf7-form label {font-family:'bold'; display:block; margin:7rem 0 3rem 0;}

.cd-modal-content input::placeholder, .cd-modal-content .wpcf7-form textarea::placeholder {color:white;}
.cd-modal-content input {width:calc(60% - 4rem);}
.cd-modal-content select {width:100%; overflow: hidden; background:#d5dee0; -webkit-appearance: none; -moz-appearance: none;} 
.cd-modal-content select:focus {background:#284956;}
.cd-modal-content input, .cd-modal-content select {color:#fff; background:#1c44ae; font-size:2.1rem; padding: 2rem; font-family: 'regular'; outline: none; border: 0;}

.cd-modal-content button[type="submit"] {font-family:'bold'; text-transform:uppercase; width:calc(60% - 6rem - 6px); margin:4rem 0 6rem 0; border: 3px solid #fff; font-size: 1.3rem;; color:#fff; background: transparent; cursor: pointer; padding: 3rem; display: inline-block; text-transform: uppercase; letter-spacing:.05rem; font-weight:inherit; outline: none; position: relative; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; z-index:1;}
.cd-modal-content button[type="submit"]:after {content: ''; position: absolute; z-index: -1; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; width: 0; height: 100%; bottom: 0; left: 0; background: #fff;}
.cd-modal-content button[type="submit"]:hover {color: #1c44ae!important;}
.cd-modal-content button[type="submit"]:hover:after, .contact__form button[type="submit"]:hover:after {width: 100%!important;}

.cd-modal-content span.wpcf7-list-item {margin:0 2rem;}
.cd-modal-content .wpcf7 input[type="radio"] {position: absolute !important; left: -9999px !important;}
.cd-modal-content .wpcf7-radio label {margin:0!important;}
.cd-modal-content .wpcf7-radio span.wpcf7-list-item-label {font-family: 'regular'; position: relative; padding-left: 4rem;}
.cd-modal-content .wpcf7-radio span.wpcf7-list-item-label:before  {content: ''; background: transparent; border-radius: 50%; width: 40px; height:40px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); border: 3px solid #fff; cursor: pointer; -webkit-transition: all .2s; -moz-transition: all .2s; transition: all .2s;}
.cd-modal-content .wpcf7 input[type=radio]:not(old):checked + span:before {background:#fff;}

.cd-modal-content .custom-select {width:60%; margin:auto;}
.cd-modal-content .custom-select div {margin-bottom:0;}
.cd-modal-content .select-selected {background-color: #1c44ae; color:#fff; -webkit-transition: all .4s; -moz-transition: all .4s; transition: all .4s;}
.cd-modal-content .select-selected:hover, .cd-modal-content .select-selected:focus, .cd-modal-content .select-selected:active {background:#fff!important; color:#082c8a;}
.cd-modal-content .select-selected:hover:after {border-color: #082c8a transparent transparent transparent;}
.cd-modal-content .select-selected:after {position: absolute; border-color: #fff transparent transparent transparent; content: ""; top:50%; right: 2rem; width: 0; height: 0; transform: translate(-50%); transition: transform .3s ease; -webkit-transition: all .4s; -moz-transition: all .4s; transition: all .4s;}
.cd-modal-content .select-selected.select-arrow-active:after {border-color: transparent transparent #082c8a transparent; top:43%;}
.cd-modal-content .select-selected.select-arrow-active {background:#fff!important; color:#082c8a;}

.cd-modal-content .select-items div,.cd-modal-content .select-selected {padding: 2rem; color: #fff; font-size:2.1rem; cursor: pointer; user-select: none;}
.cd-modal-content .select-items {position: absolute; background: #1c44ae; top: 100%; left: 0; right: 0; z-index: 99;}
.cd-modal-content .select-hide {display: none;}
.cd-modal-content .select-items div:nth-child(1) {display:none;}
.cd-modal-content .select-items div {font-size:1.6rem; color:#fff; padding:1.5rem; background:#1c44ae; border:0; -webkit-transition: all .2s; -moz-transition: all .2s; transition: all .2s;}
.cd-modal-content .select-items div:hover .select-selected {background-color:#1c44ae;}
.cd-modal-content .select-items div:hover, .cd-modal-content .same-as-selected {background:rgba(255,255,255,.1)!important; color:#fff!important;}

.wpcf7 input[type="range"] {display: inline-block; width: 60%; background:transparent; border:0; outline: none; transition-delay: 1s; margin-top:-3rem;}
input[type=range] {-webkit-appearance: none; width: 100%; margin: 20.8px 0;}
input[type=range]:focus, input[type=range]:active, input[type=range], input[type=range]:focus, input[type=range]:active, input[type=range]::-moz-focus-inner, input[type=range]:-moz-focusring {border:0; outline: none;}
input[type=range]::-webkit-slider-runnable-track {width: 100%; height: 4px; cursor: pointer; background: #fff; border: 0;}
input[type=range]::-webkit-slider-thumb {height: 40px; width: 40px; border-radius: 50%; border:3px solid #fff;  background: #ffffff; cursor: pointer; -webkit-appearance: none; margin-top: -21px;}
input[type=range]:focus::-webkit-slider-runnable-track {background: #ffffff;}
input[type=range]::-moz-range-track {width: 100%; height: 4px; cursor: pointer; background: #fff;}
input[type=range]::-moz-range-thumb {height: 40px; width: 40px; border-radius: 50%; border:3px solid #fff; background: #ffffff; cursor: pointer;}
input[type=range]::-ms-track {width: 100%; height: 8.4px; cursor: pointer; background: transparent; border-color: transparent; color: transparent;}
input[type=range]::-ms-fill-lower {background: #fff; border: 0;}
input[type=range]::-ms-fill-upper {background: #fff; border: 0;}
input[type=range]::-ms-thumb {border:3px solid #fff; height: 40px; width: 40px; border-radius: 50%; background: #ffffff; cursor: pointer;}
input[type=range]:focus::-ms-fill-lower {background: #fff;}
input[type=range]:focus::-ms-fill-upper {background: #ffffff;}
.contactform7-output {position:relative; display:block; text-align:center; width:60%; margin:auto; margin-top:-2rem; }
#outputnumber899:after {content:' chambres';}
#outputnumber890:after {content:' m²';}
#outputnumber880:after {content:' €';}

.cd-modal-content .wpcf7-form input.valid {border-bottom: 2px solid #fff!important;}
.cd-modal-content .wpcf7-form input.invalid {border-bottom: 1px solid #000!important;}


/* RESPONSIVE */

@media screen and (max-width:1600px) {
	
	.nos-valeurs__nav {margin-top: calc(750px - 5rem);}
	
}

@media screen and (max-width:1500px) {
	
	h2, .h1 {font-size:4.5rem;}
		
}

@media screen and (max-width:1450px) {
	
	body {font-size:1.1rem;}
	h1 {font-size: 5.5rem;}
	content h2 {font-size: 3rem;}
	h3 {font-size: 2.1rem;}
	
	.header {height: 7rem;}
	.menu__logo {margin-left: 7rem; padding: 0 3rem;}
	.menu__logo svg, footer svg {width: 7.5rem;}
	.slider-home__line {width: 7rem; margin-top: 7rem;}
	
	.icon--menu {width: 1.5rem; height: auto;}
	.icon--close {width: 1.3rem;}
	.action--menu, .action--close {width: 7rem; height: 7rem;}
	
	.icon-menu_bar, .icon-menu_bar2 {margin-bottom: calc(.5rem - 1px);}
	.icon-menu_bar, .icon-menu_bar2, .icon-menu_bar3 {height: 1px;}
	
	.menu__links {height: 7rem;}
	
	.slider-home__wrap {height: calc(100vh - 7rem); width: calc(100% - 7rem); margin-left: 7rem;}
	.slider-home__btn {bottom: 7rem;}

	.sub {font-size:.8rem;}
	
	.nos-valeurs {height: 700px;}
	.valeur__title {margin-top: 6rem; margin-left: -14.5rem;}
	.valeur__content {padding: 0 7rem;}
	.nos-valeurs__index {margin-top: 6rem;}
	.background__top-left {height: calc(700px - 7rem);}
	.valeur__img {margin-left: 7rem;}
	.nos-valeurs__nav {margin-top: calc(700px - 10rem);}
	
	.citation {padding: 8rem 0!important;}
	#citation-line-1, #citation-line-2, #citation-line-3 {font-size: 2.5rem;}
	
	.fullpage {padding: 6rem 7rem 7rem 7rem;}
	.fullpage-bg {padding-top: 14rem !important;}
	.space__top-right {margin-left: calc(50vw - 7rem); height: 7rem; margin-top: -14rem;}
	
	.b_page {margin: 7rem 0;}
	.background__top-right {margin-top: -7rem;}
	.b_page__container-title {margin-top: 6rem; width: calc(66.7vw - 7rem); margin-left: 7rem;}
	.b_page__container-content {margin: 0 7rem; width: calc(50vw - 14rem);}
	.b_page__thumb {width: calc(50vw - 7rem); margin-right: 7rem;}
	.d_page {margin-bottom: 7rem;}
	
	.space__mid-col5 {height: 7rem;}
	.background__bottom-left {margin-bottom: -7rem;}
	.background__mid-col5 {height: calc(100% + 7rem);}
	
	.c_page__thumb {width: calc(50vw - 7rem); margin-left: 7rem; margin-top: -6.5rem;}
	.a_page__container-content, .c_page__container-content {margin-left: calc(50vw + 7rem); width: calc(50vw - 14rem);}
	.e_page__container-content {width: calc(50vw - 14rem); margin-left: calc(50vw + 7rem);}
	.e_page__thumb {width: calc(50vw - 7rem); margin-left: 7rem;}
	.e_page__container-title {margin-left: calc(50vw + 7rem); margin-top: 6rem; width: calc(50vw - 14rem);}
	
	.space__mid-col3 {height: 7rem; margin-top: 7rem; margin-bottom: -7rem;}
	.background__bottom-right {margin-top: 7rem; margin-bottom: -7rem;}
	
	.realisations {margin-bottom: 6rem; margin-top: 3rem;}
	.rea-container__wrapper h1 {font-size:5rem;}
	.rea-details__wrapper {padding: 5rem 5rem 0 5rem;}
	.rea-gallery__wrapper {width: calc(100% - 7rem); height: 650px;}
	
	footer {font-size: 1rem;}
	.footer__wrapper {margin: 0 7rem;}
	.footer__copy {margin-top: 5rem;}
	.footer__menu-links ul {padding: 4rem 0;}
	.footer__copy .bloc__50 li {font-size: .9rem;}
	
	.menu__rs {font-size: .9rem;}
	.dropdown__nav {margin-top: 1.5rem; width: 100%;}
	
	.cd-modal .cd-modal-content {padding: 7rem 0;}
	.cd-modal-action .cta, .cd-modal-close {width: 60px; height: 60px; background-size: 50%;}
	.cd-modal-close {bottom: 1.5rem; right: 2.5rem;}
	.cd-modal-action {bottom: calc((7rem - 60px) / 2);}
	content .txtbig p, .container__txt p:first-child, .cd-modal .cd-modal-content, .cd-modal-content input, .cd-modal-content select, .cd-modal-content .select-selected, .contact__form input, .contact__form textarea, .select-selected {font-size: 1.7rem!important;}
	.cd-modal-content .select-items div {font-size:1.4rem;}
	.cd-modal-content .wpcf7-radio span.wpcf7-list-item-label:before {width: 30px; height: 30px;  border: 2px solid #fff;}
	.cd-modal-content .wpcf7-form label {margin: 5rem 0 3rem 0;}
	
	.space__content-page {height: 7rem;}
	content .thumb {height: calc(100vh - 7rem);}
	.rea-container__wrapper, .container {padding: 7rem;}
	.content-child__bg-foot {margin-bottom: -7rem; height: 14rem;}
	.content-child__bloc {margin-bottom: 7rem;}
	
	.e_page {margin-top: 7rem;}
	.realisation__wrapper {height: 30rem;}
	
	.space__fullpage-sommaire {height: 7rem;}
	.fullpage-sommaire {padding-bottom: 7rem;}
	.d_page__thumb {width: calc(50vw - 7rem); margin-left: 7rem;}
	.d_page__container-content {width: calc(50vw - 14rem); padding: 0 7rem;}
	.d_page__container-title {margin-top: 7rem; width: calc(50vw - 7rem);}
	
	.slider-home__title {margin-left:7rem; width:80%;}
	.slider-home__scroll {bottom: 4.5rem; left: 5rem;}
	
}

@media screen and (max-width:1200px) {
	
	.slines_background {margin-left: 0; width: 100vw;}
	.slines-background__line {width: calc(100vw / 3);}
	.slider-home__bg {height: calc(100vh - 7rem); margin-bottom: 7rem;}
	.slider-home__btn {width:100vw; margin-left: 0; bottom: 0;}
	.slider-home__btn a {width: calc(100vw / 3); height:7rem; padding:0;}
	.slider-home__btn-txt {-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);top: 50%;}
	.slider-home__btn a:hover .slider-home__btn-txt {-webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%);}
	
	.valeur__title {margin-left: -11.5rem;}
	
	.mainmenu__item {font-size: 6vw;}
	.realisations {grid-template-columns: 1fr 1fr;}
	.realisation__wrapper:nth-child(2) {margin-top: 0rem;}
	.realisation__wrapper:nth-child(4), .realisation__wrapper:nth-child(6), .realisation__wrapper:nth-child(7), .realisation__wrapper:nth-child(9), .realisation__wrapper:nth-child(11), .realisation__wrapper:nth-child(13), .realisation__wrapper:nth-child(15), .realisation__wrapper:nth-child(17) {margin-top: 0rem;}
	
	.rea-gallery__wrapper {height: 650px;}
	
	.container .contact__grid {grid-template-columns: 1fr;}
	.cd-modal-content input, .cd-modal-content .custom-select {width: calc(80% - 4rem);}
	.cd-modal-content .custom-select {width:80%;}
	
	.footer__txt  {flex-wrap: wrap;}
	.footer__txt .bloc__50 {width: 100%;}
	.footer__txt .bloc__50:first-child {margin-bottom:3rem;}
	
	.nos-valeurs__nav {margin-top: calc(700px - 5rem);}
	.slider-home__scroll {left: calc(50vw - 2rem); bottom: 9rem;}
	.slider-ancre {height: 7rem;}
	
}

@media screen and (max-width:1100px) {
	
	.footer__copy {flex-wrap: wrap;}
	.footer__copy .bloc__50 {width: 100%; text-align:center;}
	.footer__copy .bloc__50:first-child {margin-bottom:2rem;}
	.footer__copy .bloc__50:last-child {text-align:center;}
	.footer__copy {margin-top:3rem;}
	.logo-marsrouge svg {margin-top:.5rem;}
	
}


@media screen and (max-width:1050px) {
	
	body {font-size:1rem;}
		
	h1 {font-size:3.1rem;}
	h2, content h2, .container__txt h2, .h1 {font-size: 2.2rem;}
	h3 {font-size: 1.8rem;}
	.cd-modal-content h2 {font-size:3rem;}
	.lines-background__line, .slines-background__line, .olines-background__line, .lines-background__blueline {width: calc(99.3vw / 6);}
	
	.header {height: 5rem;}
	footer svg {width: 5.5rem;}
	.menu__logo svg {width: 6.5rem; height: auto; margin-top: 1.4rem;}
	.menu__logo {margin-left: 5rem; padding: 0 2rem;}
	.menu .menu__logo {height: 7rem;}
	.slider-home__line {width: 5rem; margin-top: 5rem;}
	.slider-home__bg {height:100%; margin-bottom: 0rem; bottom: 0;}
	.mainmenu {position:absolute; top:40%; transform:translateY(-40%);}
	
	.mainmenu__item {font-size: 6vw;}
	.dropdown__nav {display:none;}

	.action--menu, .action--close {width: 5rem; height: 5rem;}
	
	.menu__links {height: 5rem;}
	
	.slider-home__wrap {height: 100%; width: calc(100% - 5rem); margin-left: 5rem; position:relative;}
	.slider-home__btn {bottom: 0;}
	
	.citation {padding: 5rem 0!important;}
	#citation-line-1, #citation-line-2, #citation-line-3 {font-size: 3vw;}
	
	.fullpage {padding: 4rem 5rem 5rem 5rem;}
	.fullpage-bg {padding-top: 10rem !important;}
	.space__top-right {margin-left: calc(50vw - 5rem); height: 5rem; margin-top: -10rem;}
	
	.b_page {margin:5rem 0 0 0;}
	.background__top-right {margin-top: -5rem;}
	.background__top-left-2 {display:none;}
	.b_page__container-title {margin-top: 4rem; width: calc(66.7vw - 5rem); margin-left: 5rem;}
	.b_page__container-content {margin: 0 5rem; width: calc(50vw - 10rem);}
	.b_page__thumb {width: calc(50vw - 5rem); margin-right: 4rem;}
	.d_page {margin-bottom: 5rem; padding-top:5rem;}
	
	.space__mid-col5 {height: 5rem;}
	.background__bottom-left {margin-bottom: -5rem;}
	.background__mid-col5 {height: calc(100% + 5rem);}
	
	.space__mid-col3 {height: 5rem; margin-top: 5rem; margin-bottom: -5rem;}
	.background__bottom-right {margin-top: 5rem; margin-bottom: -5rem;}
	
	.realisations {margin-bottom: 5rem; margin-top: 3rem;}
	.rea-container__wrapper h1 {font-size:3.5rem;}
	.rea-details__wrapper {padding: 4rem 4rem 0 4rem;}
	.rea-gallery__wrapper {width: calc(100% - 5rem); height: 550px;}
	
	footer {font-size: 1rem;}
	.footer__wrapper {margin: 0 5rem;}
	.footer__menu-links ul {padding: 4rem 0;}
	.footer__copy .bloc__50 li {font-size: .9rem;}
	
	.cd-modal .cd-modal-content {padding: 5rem 0;}
	.cd-modal-action {bottom: calc((5rem - 60px) / 2);}
	content .txtbig p, .container__txt p:first-child, .cd-modal .cd-modal-content, .cd-modal-content input, .cd-modal-content select, .cd-modal-content .select-selected, .contact__form input, .contact__form textarea, .select-selected {font-size: 1.4rem!important;}
	.cd-modal-content .select-items div {font-size:1.2rem;}
	.cd-modal-content .wpcf7-form label {margin: 5rem 0 3rem 0;}
	.cd-modal-content button[type="submit"] {font-size:1rem;}
	
	.space__content-page {height: 5rem;}
	.content-child__bloc .page__container:first-child {padding-top:5rem;}
	content .thumb {height: calc(50vh - 5rem);}
	.rea-container__wrapper, .container {padding: 5rem;}
	.content-child__bg-foot {margin-bottom: -5rem; height: 10rem;}
	.content-child__bloc {margin-bottom: 5rem;}
	
	.e_page {margin-top: 5rem;}
	.realisation__wrapper {height: 27rem;}
	.realisation__wrapper .realisation__details h3 {padding-top: 10%;}
	.rea-container__wrapper h1 {font-size: 2.5rem;}
	
	.space__fullpage-sommaire {height: 5rem;}
	.fullpage-sommaire {padding-bottom: 5rem; }
	.d_page__thumb {width: calc(50vw - 5rem); margin-left: 5rem;}
	.d_page__container-content {width: calc(50vw - 10rem); padding: 0 5rem;}
	.d_page__container-title {margin-top: 5rem; width: calc(50vw - 5rem);}
	
	.fullpage p {width: 100%;}
	.a_page__thumb-image, .b_page__thumb-image, .c_page__thumb-image {height:500px;}
	.page__container {position: relative; width:100%;}
	.a_page__container-content, .b_page__container-content, .c_page__container-content, .d_page__container-content, .e_page__container-content {margin-left: 0; width: calc(100% - 10rem); margin: auto; text-align: center;}
	.b_page__thumb, .c_page__thumb, .d_page__thumb, .e_page__thumb {width: calc(100% - 10rem); margin-left: 5rem; padding-top:3rem; margin-top: 0rem;}
	.a_page__container-title, .b_page__container-title, .c_page__container-title, .d_page__container-title, .e_page__container-title {text-align:center;}
	.b_page__container-title, .d_page__container-title, .e_page__container-title {margin: auto; margin-bottom: 3rem; width: calc(100% - 10rem);}
	.btn {float:none;}
	
	.background__top-left-2 {display:none;}
	.e_page {margin-top:0rem;}
	
	.realisations {grid-template-columns: 1fr;}
	
	.background__top-right {display:none;}
	.background__mid-col5 {margin-top:-5rem;}
	.background__bottom-right {height:500px;}
	.background__bottom-left {margin-bottom: 0rem; height: calc(500px - 5rem);}
	.space__mid-col3 {display:none;}
	.background__mid-col3 { height: calc(100% + 5rem); margin-top: -5rem;}
	
	.displaynone {display:none;}
	
	.fullpage h2 {width: 100%;}
	.menu__rs {left: 0; width: 100%!important; bottom: 4rem;}
	
	.footer__menu-links ul {padding:0; height: 5rem;}
	.footer__menu-links li {display:none;}

	.container .contact__grid {grid-gap: 3rem;}
	.contact__form textarea {margin: 3rem 0;}
	
	.valeur {grid-template-columns: 100%; grid-template-rows: calc(50vh - 5rem) 100%; grid-template-areas: "slide-image" "slide-content";}
		
	.nos-valeurs {height: auto;}
	.valeur__title {margin-top: 3rem; margin-left: 0em; text-align:center;}
	.valeur__content {padding: 0 5rem;}
	.nos-valeurs__index {margin-left: 8rem; margin-top:3rem;}
	.background__top-left {height: calc(50vh - 5rem);}
	.valeur__img {margin-left:5rem;}
	.nos-valeurs__nav {margin-top: calc(50vh - 5rem); z-index:30; margin-left: 0;}
	.nos-valeurs__nav-item {background:#082c8a; border: 0px;}
    .nos-valeurs__nav-item svg {fill:#fff;}
    
    .slider-home__title {margin-left:5rem; font-size:6vw;}
    .slider-ancre {height: 5rem;}
	.cd-modal-content span.wpcf7-list-item {margin: 0.4rem 2rem;}
    
}

@media screen and (max-width:800px) {
	
	h1, h2, .h1 {letter-spacing: 0rem;}
	h3 {letter-spacing:0rem;}
	
	.rea-container { width: 100%; margin-top: -8rem;}
	.rea-details {margin-left: 0; position: relative; right: 0; width:100%; margin-bottom: 4rem;}
	.rea-details li {display: inline-block; text-align: center; position: relative; float: left; width:50%;}
	
	.content-child {display: inline-block; width: 100vw; margin-top: -8rem;}
	
	.cd-modal-content input {width: calc(100% - 4rem);}
	.cd-modal-content .custom-select {width: calc(100% - 2rem); margin-right: 2rem;}
	.cd-modal-content div {margin-bottom: 3rem; position: relative;}
	.cd-modal .cd-modal-content {width: 70vw;}
	.cd-modal-content .wpcf7-form label {margin: 4rem 0 2rem 0;}
	input[type=range]::-webkit-slider-thumb {height: 30px; width: 30px; margin-top:-11px;}
	input[type=range]::-moz-range-thumb {height: 30px; width: 30px;}
	input[type=range]::-ms-thumb {height: 30px; width: 30px;}
	.cd-modal-content button[type="submit"] {width: calc(100% - 4rem - 6px); margin: 1rem 0 4rem 0; padding: 2rem;}
	.cd-modal-close {bottom: 1rem; right: 1rem; width: 50px; height: 50px;}
	.cd-modal-action {right: 0.5rem;}
	
	.rea-gallery__wrapper {height: 450px;}
	
}

@media screen and (max-width:600px) {
	
	.menu__links {display:none;}
	.citation {padding: 2rem 0 4rem 0 !important;}
	.b_page__thumb, .c_page__thumb {width: 84vw; margin-left: 0rem;}
	.a_page__thumb-image, .b_page__thumb-image, .c_page__thumb-image {height: 40vh;}
	.background__bottom-left {height: calc(40vh - 5rem);}
	.background__bottom-right {height: 40vh;}
	.realisation__wrapper {height: 50vh;}
	.realisation__wrapper .realisation__details h3 {padding-top: 0;}
	footer {font-size: .9rem;}
	.footer__copy .bloc__50 li {margin-right: 0rem; display:block;}
	
	.rea-container { width: 100%; margin-top: 0rem;}
	.rea-details {margin-left: 0; position: relative; right: 0; width:100%; margin-bottom: 4rem;}
	.rea-details li {width:100%;}
	
	content .txtbig p, .container__txt p:first-child, .cd-modal .cd-modal-content, .cd-modal-content input, .cd-modal-content select, .cd-modal-content .select-selected, .contact__form input, .contact__form textarea, .select-selected, .select-items div {font-size: 1.2rem !important;}

	.background__mid-col5, .space__mid-col5 {margin-left: 33.22vw; width: calc(100% - 33.22vw);}
	.slider-home__btn {display:none;}
	.slider-home__bg {height: 100vh; margin-bottom: 0;}
	
	.cd-modal-content .wpcf7-radio span.wpcf7-list-item-label:before { width: 20px; height: 20px;}
	.cd-modal-content .wpcf7-radio span.wpcf7-list-item-label {padding-left: 2rem;}
	
	.cd-modal-content h2 {font-size:3rem;}
	
	.breadcrumb {font-size:.7rem!important;}
	.breadcrumb li:first-child {margin: 0 .5rem 0 0;}
	.breadcrumb li::after {margin-left: .6rem;}
	
	.rea-gallery__wrapper {width: 100%; height: 350px;}
	.rea-gallery__nav { top: -2rem; margin: auto; width: 100%;}

	footer li a:after {content:none;}
	
}

@media screen and (max-width:450px) {
	
	.citation {display:none;}
	
	h1 {font-size:2.5rem;}
	h2, content h2, .container__txt h2, .h1 {font-size: 1.7rem;}
	h3 {font-size: 1.4rem;}
	content h1, content h2, .h1 { margin-bottom: 2rem!important;}
	.rea-container__wrapper h1 {font-size: 2rem;}
	
	.mainmenu__item {font-size: 10vw;}
	.action--menu, .action--close {width: 4rem; height: 4rem;}
	.header {height: 4rem;}
	.menu__logo {margin-left: 4rem; padding: 0; width: calc(50vw - 4rem);}
	.menu__logo svg {width:4.5rem;}
	.menu .menu__logo {height: 4rem;}
	.slider-home__line {width: 4rem; margin-top: 4rem;}
	.slines_background {display:none;}
	
	.slider-home__wrap {height:100vh; width: 100%; margin-left: 0;}
	
	.cd-modal-action{bottom:1rem; right:1rem;}
	.cd-modal .cd-modal-content {padding: 4rem 0;}
	
	.valeur {margin-bottom: 4rem;}
	.valeur__title {margin-top: 2rem; margin-bottom: 2rem;}
	.valeur__content {padding: 0 4rem;}
	.valeur__img {margin-left: 4rem;}
	.nos-valeurs__nav {margin-top: calc(50vh - 9rem);}
	
	.a_page__container-content, .b_page__container-content, .c_page__container-content, .d_page__container-content {width: calc(100% - 8rem);}
	.a_page__container-title, .b_page__container-title, .c_page__container-title, .d_page__container-title, .e_page__container-title {width: calc(100% - 6rem); text-align:center; margin-bottom:2rem;}
	.a_page__thumb, .b_page__thumb, .c_page__thumb, .d_page__thumb, .e_page__thumb {width: calc(100% - 4rem); margin-left: 0;}
	.d_page {margin-bottom: 4rem;}
	.b_page {margin: 4rem 0 0 0;}
	.d_page__container-content {padding:0 4rem;}
	.content-child__bloc .page__container:first-child {padding-top: 4rem;}
	.background__bottom-right {margin-top: 4rem; margin-bottom: -4rem;}

	.fullpage {padding: 4rem;}
	.fullpage h2 {padding-bottom:2rem;}
	.fullpage-sommaire {padding-bottom: 4rem;}
	.fullpage-bg {padding-top: 8rem !important;}
	.space__top-right { margin-left: calc(50vw - 4rem); height: 4rem; margin-top: -8rem;}
    
    .rea-container__wrapper, .container {padding: 4rem;}
    .container .contact__grid {grid-gap: 2rem;}
    .contact__form textarea {margin: 2rem 0; height: 13rem;}
    
    .contact__form input, .contact__form textarea, .select-items div, .select-selected {width: calc(100% - 2rem); padding: 1rem;}
    .contact__form button[type="submit"] {padding:1.5rem;}
    .cd-modal-content input {width: calc(100% - 4rem);}
    
	.footer__wrapper {margin: 0 4rem; padding:4rem 0;}
	.footer__menu-links ul {height: 4rem;}
	
	.menu__rs {display:none;}
	
	content .txtbig p, .container__txt p:first-child, .contact__form input, .contact__form textarea, .select-selected, .select-items div {font-size: 1.1rem !important;}
	.cd-modal .cd-modal-content, .cd-modal-content input, .cd-modal-content select, .cd-modal-content .wpcf7-list-item-label, .cd-modal-content .select-selected {font-size:1.3rem;}
	.cd-modal-content .wpcf7-form label {font-size:1.3rem;}
	
	.select-selected::after {top: 60%;}
	.select-selected.select-arrow-active::after {top: 50%;}
	
	.nos-valeurs__index {display:none;}
	
	.slider-home__title {margin-left: 2rem; font-size: 10vw; width: calc(100% - 4rem); line-height:1; transform: translateY(0%);}
	
	.space__content-page {height: 4rem;}
	.slider-ancre {height: 0rem;}
	.slider-home__scroll {bottom: 0; border:0; animation: MoveUpDown 2s linear infinite;}
	.slider-home__scroll:hover, .slider-home__scroll:focus {background:none;}
	.slider-home__scroll:hover svg {fill:#fff;}
	.cd-modal .cd-modal-content {width: 80vw;}
	
	input[type=range]::-webkit-slider-thumb {height: 20px; width: 20px; margin-top:-9px; border:2px solid #fff;}
	input[type=range]::-moz-range-thumb {height: 20px; width: 20px; border:2px solid #fff;}
	input[type=range]::-ms-thumb {height: 20px; width: 20px; border:2px solid #fff;}
	.wpcf7 input[type="range"] {width: 100%; padding:2rem 0;}
	input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track {height: 3px;}
	
	.contact__form button[type="submit"] {width: 50%;}
	.realisation__wrapper .realisation__details {display:none;}
	
	.breadcrumb li {margin:0 0 0 .2rem!important;}
	.breadcrumb li:nth-child(2) {display:none;}
	.breadcrumb li::after {content: '';}
	
	.lines-background__line, .slines-background__line, .olines-background__line, .lines-background__blueline {width: calc(99vw / 6);}
	
	.mainmenu__item {letter-spacing:-.1rem;}
	
}


@media screen and (max-width:400px) {
	
	.lines-background__line, .slines-background__line, .olines-background__line, .lines-background__blueline {width: calc(98.5vw / 6);}
	
	}